@font-face {
  font-family: VelaSans;
  src: url("./VelaSans.otf");
}

.navCenter {
  font-family: VelaSans;
  background-color: black;
  color: white;
  width: 100vw;
  /* height: 100; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 10rem; */
}

.header {
  display: flex;
  margin: 1rem;
  /* margin-right: 14rem; */
}

.component {
  /* margin-left: 25rem; */
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.component .logo {
  display: flex;
  align-items: center;
  width: 20%;
  display: flex;
  justify-content: center;
  padding-right: 1.5rem;
}

.component p {
}

.component p svg {
  width: 3rem;
  height: auto;
}

.component div {
  font-family: inherit;
  /* width: 70%; */
  /* max-width: ; */
}

.component div .heading {
  margin-bottom: 0.5rem;
  /* text-align: center;  */
  font-size: 1.2rem;
}

.component div .content {
  /* width: 60%; */
  /* text-align: center; */
  color: darkgray;
}
.AA p {
  padding: 1rem;
  font-size: 2rem;
}

.AA p svg {
  width: 3rem;
  height: auto;
}

.hr {
  color: white;
  width: 90%;
}

.switchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.switch {
  border-radius: 0.5rem;
  background-color: #4169e1;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.logoutButton {
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.logoutButton * {
  color: red;
}
.component div {
  width: 50%;
}

.horizontalEnclose {
  /* color: lightgrey; */
  border-top: 0.5rem solid;
  width: 95vw;
  border-radius: 1rem;
}

.logoutButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .component div {
    width: 70%;
  }

  .component {
    width: 95%;
  }

  .logoutButton {
    width: 50%;
    /* height: 3re */
  }

  .component {
    justify-content: space-evenly;
  }
}
