@font-face {
  font-family: VelaSans;
  src: url("./VelaSans.otf");
}

.navCenter {
  font-family: VelaSans;
  background-color: black;
  color: white;
  width: 100vw;
  /* height: 100; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 10rem; */
}

.header {
  display: flex;
  margin: 1rem;
  /* margin-right: 14rem; */
}

.component {
  /* margin-left: 25rem; */
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.component .logo {
  display: flex;
  align-items: center;
  width: 20%;
  display: flex;
  justify-content: center;
  padding-right: 1.5rem;
}

.component p {
}

.component p svg {
  width: 3rem;
  height: auto;
}

.component div {
  font-family: inherit;
  /* width: 70%; */
  /* max-width: ; */
}

.component div .heading {
  margin-bottom: 0.5rem;
  /* text-align: center;  */
  font-size: 1.2rem;
}

.component div .content {
  /* width: 60%; */
  /* text-align: center; */
  color: darkgray;
}
.AA p {
  padding: 1rem;
  font-size: 2rem;
}

.AA p svg {
  width: 3rem;
  height: auto;
}

.hr {
  color: white;
  width: 90%;
}

.switchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.switch {
  border-radius: 0.5rem;
  background-color: #4169e1;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.logoutButton {
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.logoutButton * {
  color: red;
}
.component div {
  width: 50%;
}

.horizontalEnclose {
  /* color: lightgrey; */
  border-top: 0.5rem solid;
  width: 95vw;
  border-radius: 1rem;
}

.logoutButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .component div {
    width: 70%;
  }

  .component {
    width: 95%;
  }

  .logoutButton {
    width: 50%;
    /* height: 3re */
  }

  .component {
    justify-content: space-evenly;
  }
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.toggleBar {
  /* position: absolute;
  left: 100px;
  top: 30px; */
  width: 90%;
  display: flex;
  justify-content: center;
  /* background-color:  rgb(27, 27, 27); */
  border-radius: 1rem;
  background-color: rgba(30, 30, 30);
  /* background-color: rgb(228 228 228 / 15%); */
  /* box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(8px); */
}

.overviewClick,
.tradeClick {
  border: 3px solid rgba(17, 27, 36, 1);
  color: white;
  font-size: 1.2rem;
  font-family: Inter;
  margin: 5px;
  width: 45%;
  border-radius: 5px;
  border: none;
  background: inherit;
  /* backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      box-shadow: 0 10px 15px 10px rgba(0 0 0 / 15%); */
}

.highlight {
  background-color: rgba(40, 40, 40);
}

.thisshoulddo {
  margin-top: 1rem;
  width: 98%;
  display: flex;
  justify-content: center;
}

.yeahthis {
  width: 90%;
  height: 100vh;
}

@media (min-width: 700px) {
  .toggleBar {
    width: 70%;
  }

  .overviewClick,
  .tradeClick {
    font-size: 1.4rem;
  }
}
